<%- layout("layout/boilerplate") %>
<section class="section-wrapper wide">
  <div>
    <h1 class="section-title">Find Friends</h1>
    <div class="friends-grid">
      <% for (let person of people) {%>
      <a href="/friends/<%= person._id %>">
        <h2><%= person.fullName %></h2>
        <div>
          <div class="image-container">
            <img src="<%= person.avatarUrl %>" alt="Profile image"/>
          </div>
          <form class="form" action="/friends/<%= person._id %>/request" method="POST">
            <button class="blue">Send Friend Request</button>
          </form>
        </div>
      </a>
      <% } %>
    </div>
  </div>
</section>
