<%- layout("layout/boilerplate") %>
<section class="section-wrapper wide">
  <div>
    <a class="edit-button" href="/friends/find">Find Friends</a>
    <% if (friends.length) { %>
    <h1 class="section-title">Friends</h1>
    <div class="friends-grid">
      <% for (let friend of friends) {%>
      <a href="/friends/<%= friend._id %>">
        <h2><%= friend.fullName %></h2>
        <div class="image-container">
          <img src="<%= friend.avatarUrl %>" alt="avatar" loading="lazy" />
        </div>
      </a>
      <% } %>
    </div>
    <% } %> <% if (requests.length) {%>
    <h1 class="section-title">Received Requests</h1>
    <div class="friends-grid">
      <% for (let request of requests) { %>
      <a href="/friends/<%= request._id %>">
        <h2><%= request.fullName %></h2>
        <div class="image-container">
          <img src="<%= request.avatarUrl %>" alt="avatar" loading="lazy" />
        </div>
        <form class="form" action="/friends/accept" method="POST">
          <input type="hidden" name="requesterId" value="<%= request._id%>" />
          <button class="blue" aria-label="accept friend request">Accept Friend Request</button>
        </form>
      </a>
      <% } %>
    </div>
    <% } %> <% if (sentRequests.length) { %>
    <h1 class="section-title">Sent Requests</h1>
    <div class="friends-grid">
      <% for (let sentRequest of sentRequests) { %>
      <a href="/friends/<%= sentRequest._id %>">
        <h2><%= sentRequest.fullName %></h2>
        <div class="image-container">
          <img src="<%= sentRequest.avatarUrl %>" alt="avatar" loading="lazy" />
        </div>
        <form class="form" action="/friends/cancel" method="POST">
          <input type="hidden" name="personId" value="<%= sentRequest._id%>" />
          <button class="blue" aria-label="cancel friend request">Cancel Friend Request</button>
        </form>
      </a>
      <% } %>
    </div>
    <% } %>
  </div>
</section>
