<%- layout("layout/boilerplate") %>
<section class="section-wrapper">
  <div>
    <h1 class="section-title"><%= person.fullName %></h1>
    <div class="image-container">
      <img src="<%= person.avatarUrl %>" alt="avatar" loading="lazy" />
    </div>
    <% if (isFriend) { %>
    <p class="person-details">
      <%= person.city %><%= person.city && person.country ? ", " : null %> <%=
      person.country ? person.country : null %>
    </p>
    <p class="person-details">
      <%= person.birthDate ? person.birthDate.toLocaleDateString() : "" %>
    </p>
    <form class="form" action="/friends/unfriend?_method=DELETE" method="POST">
      <input type="hidden" name="personId" value="<%= person._id%>" />
      <button class="blue" aria-label="unfriend">Unfriend</button>
    </form>
    <% } else if (isPending){ %>
    <p class="person-details">
      <%= person.city %><%= person.city && person.country ? ", " : null %> <%=
      person.country ? person.country : null %>
    </p>
    <form class="form" action="/friends/cancel" method="POST">
      <input type="hidden" name="personId" value="<%= person._id%>" />
      <button class="blue" aria-label="cancel friend request">Cancel Friend Request</button>
    </form>
    <% } else {%>
    <p class="person-details">
      <%= person.city %><%= person.city && person.country ? ", " : null %> <%=
      person.country ? person.country : null %>
    </p>
    <form
      class="form"
      action="/friends/<%= person._id %>/request"
      method="POST"
    >
      <button class="blue" aria-label="send friend request">Send Friend Request</button>
    </form>
    <% } %>
  </div>
</section>
<h1 class="section-title">Posts by <%= person.fullName %></h1>
<section class="section-wrapper wide invisible">
  <div class="posts-grid">
    <% for (let post of posts) { %>
    <div class="post">
      <header class="post-header">
        <div>
          <a href="/friends/<%= post.author._id %>">
            <img
              src="<%= post.author.avatarUrl %>"
              alt="avatar"
              loading="lazy"
            />
          </a>
        </div>
        <div>
          <a href="/friends/<%= post.author._id %>"
            ><%= post.author.fullName %></a
          >
          <p><%= post.sinceDate %></p>
        </div>
      </header>
      <p class="post-content"><%= post.content %></p>
      <% if (post.imageUrl) { %>
      <div class="image-container">
        <img src="<%= post.imageUrl %>" alt="post image" loading="lazy" />
      </div>
      <% } %> <% if (post.likes.length) { %>
      <p class="post-likes">
        <%= post.likes.length %> <%= post.likes.length > 1 ? "Likes" : "Like" %>
      </p>
      <% } %>
      <div class="post-buttons">
        <% if (post.likes.includes(currentUser._id)) { %>
        <form action="/posts/<%= post._id %>/unlike" method="POST">
          <button class="post-button" aria-label="unlike">Liked</button>
        </form>
        <% } else { %>
        <form action="/posts/<%= post._id %>/like" method="POST">
          <button class="post-button" aria-label="like">Like</button>
        </form>
        <% } %>
        <button class="post-button comment-button" aria-label="new comment">Comment</button>
        <% if (currentUser._id.toString() === post.author._id.toString()) { %>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button class="post-button delete" aria-label="delete post">Delete</button>
        </form>
        <% } %>
      </div>
      <% for (let comment of post.comments) { %>
      <div class="post-comments">
        <header class="post-header">
          <div>
            <a href="/friends/<%= comment.author._id %>">
              <img
                src="<%= comment.author.avatarUrl %>"
                alt="avatar"
                loading="lazy"
            /></a>
          </div>
          <div>
            <a href="/friends/<%= comment.author._id %>"
              ><%= comment.author.fullName %></a
            >
            <p><%= comment.sinceDate %></p>
          </div>
        </header>
        <p class="post-content"><%= comment.content %></p>
        <% if (currentUser._id.toString() === comment.author._id.toString()) {
        %>
        <form
          action="/posts/<%= post._id %>/comment/<%= comment._id %>?_method=DELETE"
          method="POST"
        >
          <button class="post-button delete">Delete</button>
        </form>
        <% }%>
      </div>
      <% } %> <% if (post.comments.length > 2) { %>
      <button class="post-button add-comment" aria-label="add-comment">Add Comment</button>
      <% } %>
      <div class="new-comment">
        <div>
          <img src="<%= user.avatarUrl %>" alt="avatar" loading="lazy" />
        </div>
        <form
          id="comment-form<%= post._id %>"
          action="/posts/<%= post._id %>/comment"
          method="POST"
          novalidate
        >
          <div>
            <textarea name="content" id="content" type="text"></textarea>
            <div class="validate-msg"></div>
          </div>
        </form>
        <button form="comment-form<%= post._id %>" class="post-button" aria-label="submit comment">
          Submit
        </button>
      </div>
    </div>
    <% } %>
  </div>
</section>
<script src="/js/newComment.js"></script>
