<%- layout("layout/boilerplate") %>
<h1><%= person.fullName %></h1>
<img src="<%= person.avatarUrl %>" />
<% if (isFriend) { %>
<form action="/friends/unfriend?_method=DELETE" method="POST">
  <input type="hidden" name="personId" value="<%= person._id%>" />
  <button>Unfriend</button>
</form>
<% } else if (isPending){ %>
<form action="/friends/cancel" method="POST">
  <input type="hidden" name="personId" value="<%= person._id%>" />
  <button>Cancel Friend Request</button>
</form>
<% } else {%>
<form action="/friends/request" method="POST">
  <input type="hidden" name="personId" value="<%= person._id %>" />
  <button>Send Friend Request</button>
</form>
<% } %>
