<%- layout("layout/boilerplate") %>
<h1>Your Profile</h1>
<h3><%= user.fullName %></h3>
<div>
  <img src="<%= user.avatarUrl %>" />
</div>
<div>
  <p>First Name: <%= user.firstName %></p>
  <p>Last Name: <%= user.lastName %></p>
  <p>Email: <%= user.email %></p>
  <p>City: <%= user.city %></p>
  <p>Country: <%= user.country %></p>
  <p>Birth Date: <%= user.birthDate.toLocaleDateString() %></p>
</div>
<a href="/profile/edit">Edit</a>